<form action="{{ path('home') }}#section-artisans" method="GET">

{{ form_start(form) }}
    {% for categorie in categories %}

        {% if categorie.nom != "En conversion" %}

            <button type="submit" value="{{ categorie.id }}" name="categorie">
                <article value="{{ categorie.id }}" name="categorie">
                    <img class="img-cat" src="{{ asset("images/icons/icon-")}}{{ categorie.nom }}{{(".png") }}" alt="icône de la catégorie {{ categorie.nom }}" value="{{ categorie.id }}" name="categorie">
                    <div class="cercle"> </div>
                    <p class="nom-cat" value="{{ categorie.id }}" name="categorie">{{ categorie.nom|upper }}</p>
                </article>
                
            </button>

        {% endif %}

    {% endfor %}
{{ form_end(form) }}

</form>