
    {% for categorie in categories %}

        {% if categorie.nom != "En conversion" %}

            <div value="{{ categorie.id }}" name="categorie" onclick="recup_Data({{ categorie.id }})">
                <article value="{{ categorie.id }}" name="categorie" id="{{ categorie.id }}" class="card-cat">
                    <div class="conteneur-image">
                        <img class="img-cat" src="{{ asset("images/icons/icon-")}}{{ categorie.nom }}{{(".png") }}" alt="icône de la catégorie {{ categorie.nom }}" value="{{ categorie.id }}" name="categorie">
                        <div class="cercle"> </div>
                    </div>
                    <div class="conteneur-titre">
                        <p class="nom-cat" value="{{ categorie.id }}" name="categorie">{{ categorie.nom|upper }}</p>
                    </div>
                </article>
                <input type="hidden" name="page" value="{{ thisPage }}" id="page">
            </div>

        {% endif %}

    {% endfor %}