{% extends "base.html.twig" %}

{% block body %}

    <section id="section-titre">

        <div class="container">
            <h1>BIO&VIE</h1>
            <h3 class="sous-titre">Votre catalogue</h3>
            <h3>des professionnels certifiés bio</h3>
        </div>

	</section>

    <section id="section-nombre">
            
            <div class="image">
                <img title="Photo décorative femme asiatique cueillant olives vertes" src="{{ asset('images/index/infos.jpg') }}" alt="femme asiatique cueillant des olives vertes">
            </div>

            <div class="infos">
                <img title="icon-blé" src="{{ asset('images/icons/icon-ble.png') }}" alt="logo représentant des épis de blés">
                <p class="nombre">{{ donnees }}</p>
                <p>professionnels</p>
                <img id="img-France" title="icon-france" src="{{ asset('images/icons/icon-france.png') }}" alt="logo représentant la carte de France">
                <p>Dans la France entière</p>
            </div>

	</section>

    <section id="section-presentation">

        <div class="container">

            <div class="image">
                <img src="{{ asset('images/index/presentation.jpg') }}" alt="couple d'une cinquantaine d'années tenant des barquettes en plastique de boutures de plantes">
            </div>

            <div class="infos">
                <h2>Qui sont-ils ?</h2>
                <div class="bande-verte-1"></div>
                <p>Lorem ipsum dolor sit amet. Ut corporis galisum ad facilis deserunt quo pariatur culpa eum impedit nulla ut recusandae iste. 
                    Sit magni consequatur eum cumque commodi est incidunt nihil et voluptatem consectetur nam reprehenderit quidem ad voluptate 
                    illum in soluta minima. 
                </p>
            </div>
            
        </div>
        <div class="bande-verte-2"></div>

	</section>
    

    <section id="section-categories">

        <div class="container">

            {% for categorie in categories %}

                {% if categorie.nom != "En conversion" %}

                    <article>
                        <img class="img-cat" src="{{ asset("images/icons/icon-")}}{{ categorie.nom }}{{(".png") }}" alt="icône de la catégorie {{ categorie.nom }}">
                        <p class="nom-cat">{{ categorie.nom }}</p>
                    </article>

                {% endif %}

            {% endfor %}

        </div>

    </section>

    <section id="section-artisans">

        <div class="container">

            <h2>Les professionnels</h2>
            <div class="bande-verte-3"></div>

            <div class="container-artisans">

                {% for operateur in operateurs %}

                    {% if operateur.categories != "En conversion" %}

                        {% include 'operateurs/_card.html.twig' with {operateur: operateur} only %}

                    {% endif %}

                {% endfor %}

            </div>

            {% apply spaceless %}

                {% if maxPages > 1 %}

                    {# Page quantity to show around current page is 3 or a calculated minimum value #}
                    {% set defaultPageQuantityAround = 3 %}
                    {# Mininum value #}
                    {% set minimumPageQuantityAround = min(thisPage - 1, maxPages - thisPage) %}
                    {# Condition to show the right page numbers before current page: default or minimum value #}
                    {% set conditionBefore = thisPage != 1 and minimumPageQuantityAround <= thisPage - 1 %}
                    {# Condition to show the right page numbers after current page: default or minimum value #}
                    {% set conditionAfter = thisPage != maxPages and minimumPageQuantityAround <= maxPages - thisPage %}
                    {# Define page numbers before, other pages will be replaced by "..." #}
                    {% set PageQuantityAroundBefore = conditionBefore ? defaultPageQuantityAround : minimumPageQuantityAround %}
                    {# Define page numbers after, other pages will be replaced by "..." #}
                    {% set PageQuantityAroundAfter = conditionAfter ? defaultPageQuantityAround : minimumPageQuantityAround %}

                    <ul>
                        {# Previous link #}
                        {% if thisPage - 1 != 0 %}
                            <li {{ thisPage == 1 ? 'class="disabled"' }}>
                                <a href="{{ path('home', { 'page': thisPage - 1 }) }}" title="Previous"><</a>
                            </li>
                        {% endif %}


                        {% for i in 1..maxPages %}

                            {# Current page to show #}
                            {% if thisPage == i %}
                                <li class="active">
                                    <a href="#">{{ i }}</a>
                                </li>
                            {# Show "..." before current page depending on page numbers to show before #}
                            {% elseif (i < thisPage and 1 != i) and (i == thisPage - PageQuantityAroundBefore - 1) %}
                                <li>
                                    <a href="#">...</a>
                                </li>
                            {# Show "..." after current page depending on page numbers to show after #}
                            {% elseif (i > thisPage and maxPages != i) and (i == thisPage + PageQuantityAroundAfter + 1) %}
                                <li>
                                    <a href="#">...</a>
                                </li>
                            {# Hide pages under current page and before "..." excepted page 1 #}
                            {% elseif (1 != i) and (i < thisPage - PageQuantityAroundBefore - 1) %}
                                <li class="hidden">
                                    <a href="{{ path('home', { 'page': i }) }}" title="Page {{ i }}">{{ i }}</a>
                                </li>
                            {# Hide pages over current page and after "..." excepted page with number "maxPages" (last) #}
                            {% elseif (maxPages != i) and (i > thisPage + PageQuantityAroundAfter + 1) %}
                                <li class="hidden">
                                    <a href="{{ path('home', { 'page': i }) }}" title="Page {{ i }}">{{ i }}</a>
                                </li>
                            {# Apply particular style for lowest link corresponding to first page 1, and Highest link corresponding to page total count #}
                            {% elseif i == 1 or i == maxPages %}
                                <li>
                                    <a href="{{ path('home', { 'page': i }) }}" title="Page {{ i }}">{{ i }}</a>
                                </li>
                            {# Normal links which are not concerned by conditions above #}
                            {% else %}
                                <li>
                                    <a href="{{ path('home', { 'page': i }) }}" title="Page {{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}


                        {# Next link #}
                        {% if thisPage + 1 <= maxPages %}
                            <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                                <a href="{{ path('home', { 'page': thisPage + 1 }) }}" title="Next">></a>
                            </li>
                        {% endif %}
                    </ul>

                {% endif %}

            {% endapply %}
            
        </div>
        <div class="bande-verte-4"></div>

    </section>

{% endblock %}