{% extends "base.html.twig" %}

{% block body %}

    <section id="section-titre">

        <div class="container">
            <h1>BIO&VIE</h1>
            <h3 class="sous-titre">Votre catalogue</h3>
            <h3>des professionnels certifiés bio</h3>
        </div>

	</section>

    <section id="section-nombre">
            
            <div class="image">
                <img class="img-desktop" title="Photo décorative femme asiatique cueillant olives vertes" src="{{ asset('images/index/infos.jpg') }}" alt="femme asiatique cueillant des olives vertes">
                <img class="img-mobile" title="Photo décorative femme asiatique cueillant olives vertes" src="{{ asset('images/index/infos-mobile.jpg') }}" alt="femme asiatique cueillant des olives vertes">
            </div>

            <div class="infos">
                <img title="icon-blé" src="{{ asset('images/icons/icon-ble.png') }}" alt="logo représentant des épis de blés">
                <p class="nombre">{{ donnees }}</p>
                <p>professionnels</p>
                <img id="img-France" title="icon-france" src="{{ asset('images/icons/icon-france.png') }}" alt="logo représentant la carte de France">
                <p>Dans la France entière</p>
            </div>

	</section>

    <section id="section-presentation">

        <div class="container">

            <div class="image">
                <img src="{{ asset('images/index/presentation.jpg') }}" alt="couple d'une cinquantaine d'années tenant des barquettes en plastique de boutures de plantes">
                <div class="bande-verte-2"></div>
            </div>

            <div class="infos">
                <h2>QUI SONT-ILS ?</h2>
                <div class="bande-verte-1"></div>
                <p>Lorem ipsum dolor sit amet. Ut corporis galisum ad facilis deserunt quo pariatur culpa eum impedit nulla ut recusandae iste. 
                    Sit magni consequatur eum cumque commodi est incidunt nihil et voluptatem consectetur nam reprehenderit quidem ad voluptate 
                    illum in soluta minima. 
                </p>
            </div>
            
        </div>

	</section>
    

    <section id="section-categories">

        <div class="container">

            {% include 'home/card_cat.html.twig' %}

        </div>

    </section>

    <section id="section-artisans">

        <div class="container">

            <h2>LES PROFESSIONNELS</h2>
            <div class="bande-verte-3"></div>

            <div id="content-ajax">

                {% include 'operateurs/_card.html.twig' %}

            </div>

        </div>
        <div class="bande-verte-4"></div>

    </section>

{% endblock %}