{% block content %}

    <div class="card">
        <a href="{{ path("artisan") }}/{{ operateur.id }}/{{ operateur.categories|first }}">
            <img class="img-cat" src="{{ asset("images/icons/icon-")}}{{ operateur.categories|first }}{{ ("_gris.png") }}" alt="icône de la catégorie {{ operateur.categories|first }}">
                
            <div class="card-body">
                <h5 class="card-title">{{ operateur.raisonSociale }}</h5>
                <div class="card-infos">
                    <p class="gras">{{ operateur.gerant|upper }}</p>
                    <p>{{ operateur.telephone|slice(0, 2) }} {{ operateur.telephone|slice(2, 2) }} {{ operateur.telephone|slice(4, 2) }} {{ operateur.telephone|slice(6, 2) }} {{ operateur.telephone|slice(8, 2) }}</p>
                </div>
            </div>
            <input type="hidden" name="page" value={{ thisPage }}
        </a>
    </div>

{% endblock %}