{% extends 'back.html.twig' %}

{% block title %}Index Artisans{% endblock %}

{% block body %}

    <div class="container-body">

        <h1>Ici vous pouvez gérer les artisans</h1>

        <a href="{{ path('app_operateurs_new') }}">Ajouter nouvel artisan</a>

        <table class="table">
            <thead>
                <tr>
                    <th>RaisonSociale</th>
                </tr>
            </thead>
            <tbody>
            {% for operateur in operateurs %}
                <tr>
                    <td>
                        <div>{{ operateur.raisonSociale }}</div>
                        <div class="actions">
                            <form method="post" action="{{ path('app_operateurs_edit', {'id': operateur.id}) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ operateur.id) }}">
                                <button class="btn modification">Modifier</button>
                            </form>
                            <form method="post" action="{{ path('app_operateurs_delete', {'id': operateur.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet artisan ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ operateur.id) }}">
                                <button class="btn suppression">Supprimer</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if maxPages > 1 %}
            <ul>
                {# `«` arrow  #}
                <li {{ thisPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('app_operateurs_index', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..maxPages %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                    <a href="{{ path('app_operateurs_index', {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                    <a href="{{ path('app_operateurs_index', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                </li>
            </ul>
        {% endif %}
    </div>
    
{% endblock %}
